body{
    padding: 100px;
}
.submit-area{
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}


/* Transaction Area */
#transection-area{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.transaction-submit-area{
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    padding: 20px;
    border-radius: 10px;
}