*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.submit-area{
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}


/* Transaction Area */
#transection-area{
    display: none;
}
.deposit{
    background-color: rgb(94, 81, 184);
}
.withdraw{
    background-color: rgb(209, 97, 89);
}
.balance{
    background-color: rgb(223, 158, 38);
}
.status{
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.transaction-submit-area{
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    padding: 20px;
    border-radius: 10px;
}
.input-group-text{
    height: 38px;
}